html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
   width: 100%;
}

body {
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    
}

.navbar {
    background-color: #000; 
    border-bottom: 1px solid white; 
    position: relative; 
}

.navbar .navbar-brand, .navbar .nav-link {
    color: white; 
}

.navbar .nav-link:hover {
    color: #ddd; 
}

.navbar .profile-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: green; 
    border-radius: 50%;
    position: absolute; 
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
}

footer {
    background-color: #000; 
    color: white; 
    padding: 10px 0;
}

footer a {
color: white; 
}

footer a:hover {
    color: #ddd;
}


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100% !important;
    max-width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}