@using ICinema.ViewModels
@model CreateFilmVM
@{
	ViewData["Title"] = "Film Creation Page";
}
<body>
	<h2>@ViewData["Title"]</h2>
	<form method="post" asp-action="CreateFilm" asp-controller="Admin" >
		<div class="form-group">
			<label asp-for=@Model.Title class="control-label"></label>
			<input asp-for=@Model.Title class="form-control" placeholder="Enter Title"></input>
			<span asp-validation-for=@Model.Title class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for=@Model.Image class="control-label"></label>
			<input asp-for=@Model.Image class="form-control" placeholder="Enter Image Url"></input>
			<span asp-validation-for=@Model.Image class="text-danger"></span>
		</div>
		
		</div>
		<div class="row">
			<div class="col-6">
				<button style="width:100%" type="submit" class="btn btn-primary">Create</button>
			</div>
			<div class="col-6">
				<a style="width:100%" class="btn btn-primary" asp-controller="Home" asp-action="Index">Cancel</a>
			</div>

		</div>
	</form>
</body>
